@font-face {
    font-family: worksansbold;
    src: url(../assets/fonts/static/WorkSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: worksansregular;
    src: url(../assets/fonts/static/WorkSans-Regular.ttf);
    font-weight: 600;
}

@font-face {
    font-family: worksanssemibold;
    src: url(../assets/fonts/static/WorkSans-SemiBold.ttf);
    font-weight: 400;
}