@import url(./fonts.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(275, 100%, 97%);
    background-image: url(../assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container {
    background-color: hsl(0, 0%, 100%);
    width: 650px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 1px 8px 12px 13px rgba(47,21,51,0.16);
    -webkit-box-shadow: 1px 8px 12px 13px rgba(47,21,51,0.16);
    -moz-box-shadow: 1px 8px 12px 13px rgba(47,21,51,0.16);
}

.container > div {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
}

main .faqs {
    font-family: worksansbold;
    font-size: 30px;
    gap: 20px;
}

main .question {
    font-family: worksanssemibold;
    font-size: 14px;
    justify-content: space-between;
    cursor: pointer;
}

main .question h2:hover {
    color: #AD28EB;
}

main .answer {
    display: none;
}

main .answer.expand {
    display: block;
    font-family: worksansregular;
    margin-top: 15px;
}


